html{
    height: 100%;
    font-family: 'Montserrat', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    height: 100%;
    background: #fff;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#root{
    height: 100%;
}

.mainContainer{
    display: block;
    width:75%;
    margin:auto;

}

.questionContainer{
    background-color: #595959;;
    padding: 5%;
}

.questionContent{
    text-align: center;
    color: #f2f2f2;
    font-weight: bold;
    font-size: 2.75vw;
}

.flexForm{
    width:50%;
    margin:10% auto;
    padding:5%;
    border:1px solid #bfbfbf;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    animation: fadein 2s;
}

.flexFormContainer{
    width: 100%;
    margin: 5% 0;
    padding-bottom: 5%;
}
.flexForm label {
    margin-bottom:10px;
}

.pickInput{

}

.pickInput:checked{
    animation: swell 250ms ease-in;
}


.inputLabel{
    font-size: 2vw;
}

.textInput{
    height: 30px;
    width: 90%;
    margin-bottom:10%;
    border: 1px solid #bfbfbf;
}

.submitButton{
    /*width: 30%;*/
    margin: 0;
    padding: 5%;
    background:#595959;
    color:#f2f2f2;
    font-weight:bold;
    font-size: 1.25vw;
    border:0;
}

.submitButton{
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    padding: 5%;
    background:#595959;
    color:#f2f2f2;
    font-weight:bold;
    font-size: 1.25vw;
    border:0;
}

.message{
    font-size: 3vw;
    text-align: center;
    text-shadow: 2px 2px #bfbfbf;
}

@keyframes swell{
    0%{transform: scale(0);}
    25%{transform: scale(1.5);}
    75%{transform: scale(1.7);}
    100%{transform: scale(1);}
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}